
API-Minimizer/obj/

API-Minimizer/bin/

API-Minimizer/.vs/

API-Minimizer/ApiBack/API-Minimizer-back/bin/

API-Minimizer/ApiBack/API-Minimizer-back/obj/

API-Minimizer/ApiFront/.vs/

API-Minimizer/ApiFront/bin/

API-Minimizer/ApiFront/obj/
